<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Finder</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryFilesAndFolders</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>archiveName</key>
		<string></string>
		<key>archivePath</key>
		<string></string>
		<key>cleanFiles</key>
		<integer>0</integer>
		<key>deleteOriginals</key>
		<false/>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string></string>
		<key>AMDNote</key>
		<string>If you are archiving Mac software, or need custom icons, comments, or other metadata to stay intact, you should use the standard Create Archive action.</string>
		<key>AMDOptions</key>
		<string></string>
		<key>AMDRelatedActions</key>
		<string>com.junecloud.Make-Names-Web-Friendly</string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string>ZIP archives</string>
		<key>AMDSummary</key>
		<string>This action creates a clean zip format archive (.zip) that's ready to share with others. Macintosh resource forks and desktop files will be ignored so they don't get in the way on other operating systems. If you're uploading the file online, use the action "Make Names Web-Friendly" afterward to ensure the archive has a web-friendly file name.</string>
		<key>AMDWebsite</key>
		<string>http://junecloud.com</string>
	</dict>
	<key>AMIconName</key>
	<string>Finder</string>
	<key>AMKeywords</key>
	<array>
		<string>Junecloud</string>
		<string>ZIP</string>
		<string>hidden</string>
		<string>.DS_Store</string>
		<string>DS_Store</string>
		<string>DS</string>
		<string>Store</string>
	</array>
	<key>AMName</key>
	<string>Create Clean Archive</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string></string>
		<key>ApplyButton</key>
		<string></string>
		<key>IgnoreButton</key>
		<string></string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string></string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.junecloud.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>2.0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2006–2014 Junecloud LLC</string>
	<key>NSPrincipalClass</key>
	<string>Create_Clean_Archive</string>
</dict>
</plist>
