<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AMAccepts</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Optional</key>
		<false/>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMApplication</key>
	<string>Preview</string>
	<key>AMCanShowSelectedItemsWhenRun</key>
	<false/>
	<key>AMCanShowWhenRun</key>
	<true/>
	<key>AMCategory</key>
	<string>AMCategoryPhotos</string>
	<key>AMDefaultParameters</key>
	<dict>
		<key>constrainSize</key>
		<integer>0</integer>
		<key>deleteOriginals</key>
		<integer>0</integer>
		<key>fileType</key>
		<integer>0</integer>
		<key>maxHeight</key>
		<integer>800</integer>
		<key>maxWidth</key>
		<integer>800</integer>
		<key>outputPath</key>
		<string></string>
		<key>replaceExisting</key>
		<integer>0</integer>
		<key>sharpenImage</key>
		<integer>0</integer>
		<key>useApplication</key>
		<integer>0</integer>
	</dict>
	<key>AMDescription</key>
	<dict>
		<key>AMDAlert</key>
		<string></string>
		<key>AMDInput</key>
		<string>Images</string>
		<key>AMDNote</key>
		<string></string>
		<key>AMDOptions</key>
		<string></string>
		<key>AMDRelatedActions</key>
		<string></string>
		<key>AMDRequires</key>
		<string></string>
		<key>AMDResult</key>
		<string>JPEGs, PNGs, or GIFs</string>
		<key>AMDSummary</key>
		<string>This action will export images in JPEG, GIF, or PNG format using Adobe Photoshop CS or its own built-in image processing. The built-in image processing is generally faster, while Photoshop may create higher quality images and work with more file types. Additional options allow you to constrain the image to a maximum width and height, and sharpen the image after resizing.</string>
		<key>AMDWebsite</key>
		<string>http://junecloud.com</string>
	</dict>
	<key>AMIconName</key>
	<string>Preview</string>
	<key>AMKeywords</key>
	<array>
		<string>Junecloud</string>
		<string>JPEG</string>
		<string>PNG</string>
		<string>GIF</string>
		<string>resize</string>
		<string>constrain</string>
		<string>sharpen</string>
		<string>Adobe</string>
		<string>Photoshop</string>
		<string>CS</string>
	</array>
	<key>AMName</key>
	<string>Save for Web</string>
	<key>AMProvides</key>
	<dict>
		<key>Container</key>
		<string>List</string>
		<key>Types</key>
		<array>
			<string>com.apple.cocoa.path</string>
		</array>
	</dict>
	<key>AMRequiredResources</key>
	<array/>
	<key>AMWarning</key>
	<dict>
		<key>Action</key>
		<string></string>
		<key>ApplyButton</key>
		<string></string>
		<key>IgnoreButton</key>
		<string></string>
		<key>Level</key>
		<integer>0</integer>
		<key>Message</key>
		<string></string>
	</dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string></string>
	<key>CFBundleIdentifier</key>
	<string>com.junecloud.${PRODUCT_NAME:rfc1034identifier}</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.1</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>3.0.1</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2006–2014 Junecloud LLC</string>
	<key>NSPrincipalClass</key>
	<string>Save_for_Web</string>
</dict>
</plist>
